.sg-carousel {
    position: fixed;
    bottom: 150px;
    left: 20%;
    width: 60%;
    height: 35%;
    z-index: 5;
    opacity: 0;
    @media (max-width: 1600px) {
        height: 30%;
    }
    @media (max-width: 1365px) {
        height: 25%;
    }
    @media (max-width: 1199px) {
        height: 20%;
    }
    @media (max-width: 1199px) and (orientation: portrait) {
        width: 80%;
        left: 10%;
        bottom: 50px;
    }
    @media (max-width: 767px) {
        height: 18%;
        bottom: 150px;
        left: 20%;
        width: 60%;
    }
    &__title {
        text-align: center;
        img {
            max-width: 350px;
            position: absolute;
            left: 50%;
            top: -200px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            @media (max-width: 767px) {
                max-width: 250px;
            }
            @media (max-width: 767px) and (orientation: landscape) {
                top: -50px;
                max-width: 150px;
            }
            @media (max-width: 767px) and (orientation: portrait) {
                top: -100px;
            }
            &.is-visible {
                opacity: 1;
                visibility: visible;
                -webkit-animation-name: bounceIn;
                        animation-name: bounceIn;
                -webkit-animation-duration: 450ms;
                        animation-duration: 450ms;
                -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
            }
        }
        .sg-title-shake {
            width: 300px;
        }
        @-webkit-keyframes bounceIn{
            0%{
              opacity: 0;
              -webkit-transform: scale(0.3) translateX(-50%);
                      transform: scale(0.3) translateX(-50%);
            }
            50%{
              opacity: 0.9;
              -webkit-transform: scale(1.3) translateX(-50%);
                      transform: scale(1.3) translateX(-50%);
            }
            80%{
              opacity: 1;
              -webkit-transform: scale(0.89) translateX(-50%);
                      transform: scale(0.89) translateX(-50%);
            }
            100%{
              opacity: 1;
              -webkit-transform: scale(1) translateX(-50%);
                      transform: scale(1) translateX(-50%);
            }
          }
        @keyframes bounceIn{
            0%{
              opacity: 0;
              -webkit-transform: scale(0.3) translateX(-50%);
                      transform: scale(0.3) translateX(-50%);
            }
            50%{
              opacity: 0.9;
              -webkit-transform: scale(1.3) translateX(-50%);
                      transform: scale(1.3) translateX(-50%);
            }
            80%{
              opacity: 1;
              -webkit-transform: scale(0.89) translateX(-50%);
                      transform: scale(0.89) translateX(-50%);
            }
            100%{
              opacity: 1;
              -webkit-transform: scale(1) translateX(-50%);
                      transform: scale(1) translateX(-50%);
            }
          }
    }
    &__slides {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &__slide {
        width: 33.3333%;
        position: absolute;
        top: 0;
        text-align: center;
        @media (max-width: 767px) {
            width: 100%!important;
        }
        & > div {
            position: relative;
            cursor: url("../img/cursor-default.png"), auto!important;
        }
        img {
            margin: 0 auto;
            @media (max-width: 767px) and (orientation: landscape) {
                max-height: 200px;
            }
        }
        // &[data-current="1"] {
        //     left: 33.3333%;
        //     z-index: 3;
        //     @media (max-width: 767px) {
        //         left: 0;
        //     }
        // }
        // &[data-current="2"] {
        //     left: 0;
        //     -webkit-transform: scale(0.7);
        //             transform: scale(0.7);
        //     z-index: 2;
        //     @media (max-width: 767px) {
        //         left: -90%;
        //         z-index: 0;
        //     }
        //     @media (max-width: 767px) and (orientation: landscape) {
        //         left: -50%;
        //     }
        // }
        // &[data-current="3"] {
        //     left: 66.6666%;
        //     -webkit-transform: scale(0.7);
        //             transform: scale(0.7);
        //     z-index: 1;
        //     @media (max-width: 767px){
        //         left: 90%;
        //         z-index: 0;
        //     }
        //     @media (max-width: 767px) and (orientation: landscape) {
        //         left: 50%;
        //     }
        // }
    }
    &__nav {
        @media (max-width: 767px){
            width: 100vw;
            position: fixed;
            left: 0;
            bottom: 0;
            height: 45vh;
            box-sizing: border-box;
        }
    }
    &__dots {
        position: absolute;
        top: 100%;
        z-index: 5;
        width: 100%;
        text-align: center;
        button {
             background-color: transparent;
             display: inline-block;
             vertical-align: middle;
             margin: 0 3px;
             border: none;
             box-shadow: none;
             font-size: 0;
             width: 10px;
             height: 10px;
             background-image: url(../img/carousel-dot.svg);
             background-repeat: no-repeat;
             background-position: center;
             background-size: contain;
             &.is-active {
                 width: 20px;
                 height: 20px;
             }
        }
    }
    &__arrow {
        position: absolute;
        bottom: 50px;
        height: 50px;
        width: 25px;
        font-size: 0;
        background-color: transparent;
        box-shadow: none;
        border: none;
        cursor: pointer;
        @media (max-width: 767px) {
            position: absolute;
            height: 100%;
            top: 0;
            width: 19%;
        }
        &:hover {
            .sg-carousel__slide {
                opacity: 0.1;
            }
        }
        &:after {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                border-top: 4px solid #242638;
                border-left: 4px solid #242638;
            }
        }
        &:before {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                height: 40vh;
                bottom: -50px;
                width: 18vw;
                z-index: 4;
            }
        }
        &--prev {
            right: 100%;
            &:before {
                left: 100%;
            }
            &:after {
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                left: 5px;
                top: 5px;
            }
            @media (max-width: 767px){
                left: 0;
                right: auto;
            }
        }
        &--next {
            left: 100%;
            &:before {
                right: 100%;
            }
            &:after {
                -webkit-transform: rotate(135deg);
                        transform: rotate(135deg);
                left: -15px;
                top: 5px;
            }
            @media (max-width: 767px){
                left: auto;
                right: 0;
            }
        }
    }
}



.is-shaking {
    -webkit-animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
            animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-animation-delay: .25s;
            animation-delay: .25s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  @-webkit-keyframes shake {
    10%, 90% {
      -webkit-transform: translate3d(-1px, 0, 0);
              transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      -webkit-transform: translate3d(2px, 0, 0);
              transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      -webkit-transform: translate3d(-4px, 0, 0);
              transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      -webkit-transform: translate3d(4px, 0, 0);
              transform: translate3d(4px, 0, 0);
    }
  }
  
  @keyframes shake {
    10%, 90% {
      -webkit-transform: translate3d(-1px, 0, 0);
              transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      -webkit-transform: translate3d(2px, 0, 0);
              transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      -webkit-transform: translate3d(-4px, 0, 0);
              transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      -webkit-transform: translate3d(4px, 0, 0);
              transform: translate3d(4px, 0, 0);
    }
  }