.sg-final {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 0;
    padding: 10em;
    box-sizing: border-box;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    @media (max-width: 1399px) {
        padding: 5em;
    }
    @media (max-width: 1024px) and (orientation: portrait) {
        padding: 10em 5em;
    }
    @media (max-width: 767px) {
        padding: 80px 30px 30px;
    }
    &__wrapper {
        margin: 5em 0 0;
        width: 100%;
        max-width: 1024px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        @media (max-width: 1399px) {
            margin: 30px 0 0;
        }
    }
    &__msg {
        width: 500px;
        height: 280px;
        margin: 0 auto;
        background-image: url(../img/msg-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 42px;
        font-size: 24px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #484D6D;
        padding: 20px 70px 20px 40px;
        box-sizing: border-box;
        @media (max-width: 1024px) {
            margin: 0 auto;
        }
        @media (max-width: 1024px) and (orientation: portrait) {
            margin: 0;
        }
        @media (max-width: 767px) {
            width: 65%;
            height: 200px;
            font-size: 16px;
            line-height: 24px;
            margin: 0 20px;
            padding: 40px 30px 40px 30px;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 0;
        &.is-active {
            display: block;
        }
        @media (max-width: 767px) {
            max-width: 30%;
            top: 30px;
        }
    }
    .sg-again {
        margin-top: 10em;
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        -webkit-transition: opacity .3s linear;
        transition: opacity .3s linear;
        @media (max-width: 1399px) {
            margin-top: 30px;
        }
        @media (max-width: 1024px) and (orientation: portrait) {
            display: block;
            margin: 30px 125px;
        }
        @media (max-width: 767px) {
            width: 150px;
            margin: 30px auto;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}