
body,
.sg-wrapper {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

*, a, button {
  outline: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
img, svg, object {
  max-width: 100%;
}

.sg-wrapper {
  overflow: hidden;
}


