.sg-plane {
  position: fixed;
  top: 7%;
  left: 0;
  z-index: 2;
  width: 100%;
  &__wrapper {
    position: absolute;
    width: 19vw;
    right: 100%;
    @media (max-width: 767px) and (orientation: portrait) {
      width: 30vw;
    }
  }
  @media (max-width: 767px) and (orientation: portrait) {
    top: 20%;
  }
}