.sg-section {
    position: absolute;
    width: 108%;
    height: 108%;
    left: -4%;
    bottom: -100%;
    overflow: hidden;
    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @media (max-width: 767px) and (orientation: portrait) {
            width: 200%;
            left: -50%;
            overflow: hidden;
        }
    }
    &__trees {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        @media (max-width: 767px) and (orientation: portrait) {
            width: 200%;
            left: -50%;
        }
    }

    &[data-section="1"] {
        z-index: 4;
    }
    &[data-section="2"] {
        z-index: 3;
    }
    &[data-section="3"] {
        z-index: 2;
    }
    &[data-section="4"] {
        z-index: 1;
    }
}

.sg-sky {
    position: absolute;
    top: -1000px;
    left: -2%;
    width: 104%;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @media (max-width: 767px) and (orientation: portrait) {
            transform: scale(1.5);
        }
    }
}


.sg-slide {
    overflow: hidden;
}

.sg-start {
    opacity: 1;
    -webkit-transition: top .5s linear;
    transition: top .5s linear;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    top: calc(100% + 30px);
    left: calc(50% - 40px);
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    span {
        display: block;
        margin-bottom: 15px;
    }
    @media (min-width: 768px) {
        &:hover {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }   
    }
}